* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(180deg, rgb(51, 51, 204), rgb(39, 124, 68));
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.container {
  position: relative;
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input.search-bar {
  padding: 5px;
  font-size: 19px;
  width: 50px;
  height: 100%;
  position: absolute;
  transition: all 0.4s ease;
  border: none;
  box-shadow: 0 0 3px #fff;
}

input.search-bar:active,
input.search-bar:focus {
  outline: none;
}

button {
  width: 50px;
  height: 100%;
  background-color: #224;
  border: none;
  box-shadow: 0 0 3px #fff;
  position: absolute;
  transition: transform 0.4s ease;
}

.btn:active {
  transform: scale(0.98);
}

button i {
  font-size: 19px;
  color: #fff;
}

/* when active */

.container.active input.search-bar {
  width: 200px;
  transform: translateX(-10%);
}

.container.active button {
  transform: translateX(210%);
}
